[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"
ipython = "*"
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
randomwords = "*"
twine = "*"

[packages]
pandas = "*"
sqlalchemy = "*"

[requires]
python_version = "3"
