[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = ">= 0.16.0"
sqlalchemy = ">= 1.1.10"

[dev-packages]
ipdb = "*"
ipython = "*"
mock = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
