-i https://pypi.python.org/simple
appnope==0.1.0 ; sys_platform == 'darwin'
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
coverage==4.5.3
decorator==4.4.0
entrypoints==0.3
flake8==3.7.7
ipdb==0.12
ipython-genutils==0.2.0
ipython==7.4.0
jedi==0.13.3
mccabe==0.6.1
more-itertools==7.0.0 ; python_version > '2.7'
parso==0.4.0
pexpect==4.7.0 ; sys_platform != 'win32'
pickleshare==0.7.5
pluggy==0.9.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
pygments==2.3.1
pytest-cov==2.6.1
pytest==4.4.1
randomwords==0.2.1
six==1.12.0
traitlets==4.3.2
wcwidth==0.1.7
